body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header-main{
  display: flex;
  width: 100%;
  height: 200px;
  background-color: rgb(233, 243, 217);
  justify-content: center;
  align-items: center;
  color: rgb(98, 98, 98);
}

nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 20px;
  padding: 20px;
}

.nav-menu-loggedin{
  display: inline-block;
  position: relative;
  min-width: 80px;
}
.nav-menu-loggedin-content{
  position: absolute;
  background-color: white;
  width: 100%;
  overflow: hidden;
  max-height: 20px;
}
.nav-menu-loggedin-content > *{
  display: block;
  margin-bottom: 10px;
  padding-left: 10px;
}

.nav-menu-loggedin-content > *:hover{
  cursor: pointer;
}

.popup-login{

  position: fixed;
  width: 100vw;
  height: 100vh;
  min-height: 250px;
  background-color: rgba(121, 121, 121, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-login > div {
  max-width: 300px;
  width: 100%;
  max-height: 300px;
  height: 100%;
  background-color: rgb(97, 97, 97);

  border-radius: 15px;
}

/* 
.nav-menu{

  max-width: 150px;
  padding: 0 10px;
  border: solid 1px green;
  position: rel;
  background-color: white;
} */

/* .nav-menu > *{
  display: block;
  margin-bottom: 10px;
} */
